#active-tab {
    background-color: #88cc00;
}

body {
    background-color: #88cc00;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-tabs {
    background-color: #fff;
    border: 0px;
}

.nav-item:hover, .nav-item:active {
    background-color: #88cc00;
    border: 0px;
    color: white;
}

.dropdown-item.active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #88cc00;
}

.dropdown-item.active {
    background-color: #88cc00;
}

.nav-tabs .nav-link, .nav-tabs.nav-link:hover {
    border: 0px;
}

.nav-tabs .nav-link {
    border: 0px ;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

